main.aux
main.fdb_latexmk
main.fls
main.out
main.log
main.toc
main.synctex.gz
main.synctex(busy)
.DS_Store
pdflatex1181.fls
pdflatex925.fls
.vscode/settings.json
Chapters/determinantsAndEigenvalues.aux
Chapters/finiteDimensionalVectorSpaces.aux
Chapters/functions.aux
Chapters/introductionToProofs.aux
Chapters/optimizationHessian.aux
Chapters/orthogonality.aux
Chapters/preface.aux
Chapters/systemsOfLinearEquations.aux
Chapters/vectorsAndMatrices.aux
Chapters/linearTransformations.aux
